html{
	height: 100%;
}
body{
	font-family: 'Alegreya Sans';
	height: 100%;
}
header{
	margin:0px;
	padding: 0px;
}
nav{
	margin:0px;
	padding: 0px;
	width: 100%;
}
header nav{
	color:white;	
	background-color: #333333;
	padding: 10px;
}
header nav .siteTitle{
	display: inline-block;

}
header nav .siteTitle h1{
	font-family:'Exo';
	margin: 10px;
}
.seperatorLine{
	display: inline-block;
	font-family: Exo;
	font-weight: 200;
	font-size: 40px;
	margin: 0px;
}
#logout{
	margin: 10px;
}

a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	color: grey;
}
nav.sidebarHolder{
		height: -moz-calc(100% - 79px);
	height: -webkit-calc(100% - 79px);
	height: calc(100% - 79px);
	width: 250px;
	z-index: -1;
}

nav .sidebar{
	width: 250px;
	background-color: #FFE4C4;
	height: calc(100%);
}
.arrow{
	float: right;
	font-size: 20px;
}
.showpiece{
/*	float: left;
	width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
    height: 20%;
*/
}

#showpiece-fridge{
	background-color: #ffd1d1;
	border-radius: 10px;
 
}
#showpiece-fridge .scrollable{
	overflow: scroll;
}

#showpiece-fridge ul{
	list-style-type:none;
	margin:0;
	-webkit-box-shadow: inset 10px 10px 158px 31px rgba(255,255,255,1);
	-moz-box-shadow: inset 10px 10px 158px 31px rgba(255,255,255,1);
	box-shadow: inset 10px 10px 158px 31px rgba(255,255,255,1);
	padding:10px;
}

#showpiece-fridge .foodPic{
	display: inline-block;
}

#showpiece-fridge .foodPic img{
	border-width: 0px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	-webkit-box-shadow: 10px 10px 107px -21px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 107px -21px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 107px -21px rgba(0,0,0,0.75);
	margin-left: -20px;
}
#showpiece .active{

}
#showpiece-fridge #content{
	width: auto;
	height: 80%;
	background-color: white;
	padding: 10px;
}
h1{
	margin: 0px;
}

/* above is layout.css */

#food-list {
	width:300px; 
	font-size:16px; 
	position: absolute;
	left: 260px;
	top: 90px;
	background-color:#FFB2D8;
}
#minheight {
	min-height:430px;
	background: linear-gradient(#ffdfdf, #FFB2D8);
}

#shoppingheader {
	padding-left:14px;
	padding-top:4px; 
	padding-bottom:6px; 
	font-size:20px;
	height:40px;
	background-color: #FFC8DC;
}

#listspace {
	padding-right:30px;
}

.shoppingdisplay{
	padding-left: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right:14px;
	word-wrap:break-word;
	border-bottom:1pt solid white;
}
	
.check {
	float:left;
	padding: 7px 13px;
	font-size: 16px;
    line-height: 1.5;
	border-radius: 5px;
}

.closer{
	float:right;
}

.invisible {
	opacity:0;
}
#editfood, #editnote{
	display:none;
}

#foodedit, #noteedit {
	font-size:16px;
	font-style:italic;
	background-color:#feeaea;
	border:transparent;
	padding-left: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right:14px;
	height:100%;
	width:100%;
}

#foodedit, #food, #noteedit:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: None;
	-webkit-box-shadow: None;

}	

#food::-webkit-input-placeholder { /* WebKit browsers */
    color:    #346437;
}
#food:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #346437;
}
#food::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #346437;
}
#food:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #346437;
}

#food {
	border-color: #FFB2D8;
	border-width: 2pt;
	font-style:italic;
	font-size:16px;
	background-color:#FFB2D8;
}

.print {
	float:left;
	font-size: 16px;
	line-height: 2;
}

#shoppingheadertext {
	padding-left: 10px;
	
}

#text-length {
	padding-right: 150px;
}
#spacer {
	width:30px;
	float: left;
	background-color:white;
}

#memo {
	width: 300px;
	position:absolute;
	font-size:16px;
	left: 570px;
	top: 90px;
}

#text {
	padding: 6px;
}

.memodisplay {
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right:14px;
	border-bottom:1pt solid white;
}

#noteheader {
	margin-top: 0px;
	padding-left:14px;
	padding-top:5px; 
	padding-bottom:6px; 
	font-size:20px;
	height:40px;
	background-color: #FFC8DC;
}

#gradient {
	background: linear-gradient(#ffdfdf, #FFB2D8);
	min-height:465px;
}

#genheader{
	padding-left:14px;
	padding-top:3px; 
	padding-bottom:6px; 
	font-size:20px;
	height:33px;
	background-color: #FFC8DC;
	
}

#memocontent {
	background: linear-gradient(#ffdfdf, #FFB2D8);
	font-size:16px;
	border:transparent;
	outline:0;
	padding-left: 14px;
	padding-top: 8px;
	padding-bottom: 5px;
	padding-right:14px;
	width:250px;

}

#memocontent:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: None;
	-webkit-box-shadow: None;
}

#memocontent::-webkit-input-placeholder { /* WebKit browsers */
    color:    #858384;
	font-style: italic;
}
#memocontent:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #858384;
	font-style: italic;
}
#memocontent::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #858384;
	font-style: italic;
}
#memocontent:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #858384;	
	font-style: italic;
}

.note {
	background-color: #FFC8DC;
	position: absolute;
	top: 90px;
	left: 880px;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);

}

/* add ingredient (Pav) */
#popupBackground{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: black;
	opacity: .4 ;
}

#addIng-group .centeredButton{
	position: relative;
	left: 50%;
	width: 58px;
	margin-left: -29px;
}

.popupnew{
display: none;
position: fixed;
width: 235px;
height: 150px;
left: 10px;
top: 240px;
margin-top: -150px;
background-color: #fff5eb;
border-radius: 10px;
-webkit-box-shadow: 10px 10px 107px -21px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 107px -21px rgba(0,0,0,0.75);
box-shadow: 10px 10px 107px -21px rgba(0,0,0,0.75);
padding: 10px;
z-index: 1000;
}

.shadowed{
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);

	
}