body{
	font-family: 'Alegreya Sans';
}
header{
	margin:0px;
	padding: 0px;
}
nav{
	margin:0px;
	padding: 0px;
	width: 100%;
}
header nav{
	color:white;	
	background-color: #333333;
	padding: 10px;
}
header nav .siteTitle{
	display: inline-block;

}
header nav .siteTitle h1{
	font-family:'Exo';
	margin: 10px;
}
.seperatorLine{
	display: inline-block;
	font-family: Exo;
	font-weight: 200;
	font-size: 40px;
	margin: 0px;
}
#logout{
	margin: 10px;
}

a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	color: grey;
}
nav.sidebarHolder{
	height: 1000px;
	width: 250px;
	z-index: -1;
}

nav .sidebar{
	width: 250px;
	background-color: #FFE4C4;
	height: 100%;
}
.arrow{
	float: right;
	font-size: 20px;
}
.showpiece{
/*	float: left;
	width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
    height: 20%;
*/
}

#showpiece-fridge{
	background-color: #ffd1d1;
	border-radius: 10px;
 
}
#showpiece-fridge .scrollable{
	overflow: scroll;
}

#showpiece-fridge ul{
	list-style-type:none;
	margin:0;
	-webkit-box-shadow: inset 10px 10px 158px 31px rgba(255,255,255,1);
	-moz-box-shadow: inset 10px 10px 158px 31px rgba(255,255,255,1);
	box-shadow: inset 10px 10px 158px 31px rgba(255,255,255,1);
	padding:10px;
}

#showpiece-fridge .foodPic{
	display: inline-block;
}

#showpiece-fridge .foodPic img{
	border-width: 0px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	-webkit-box-shadow: 10px 10px 107px -21px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 107px -21px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 107px -21px rgba(0,0,0,0.75);
	margin-left: -20px;
}
#showpiece .active{

}
#showpiece-fridge #content{
	width: auto;
	height: 80%;
	background-color: white;
	padding: 10px;
}
h1{
	margin: 0px;
}

/* above is layout.css */

#food-list {
	width:300px; 
	font-size:16px; 
	background-color:#ffd1d1;
	float:left;
	margin-left:20px;
	margin-right:0px;
}
#minheight {
	min-height:430px;
	background: linear-gradient(#ffdfdf, #ffd1d1);
}

#shoppingheader {
	margin-left:14px;
	padding-top:7px; 
	padding-bottom:6px; 
	font-size:20px;
	height:45px;
	background-color: #ffd1d1;
}

#listspace {
	padding-right:30px;
}

.shoppingdisplay{
	padding-left: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right:14px;
	word-wrap:break-word;
	border-bottom:1pt dashed #CCA7A7;
}
	
.check {
	float:left;
	padding: 7px 13px;
	font-size: 16px;
    line-height: 1.5;
	border-radius: 5px;
}

.closer{
	float:right;
}

.invisible {
	opacity:0;
}
#editfood, #editnote{
	display:none;
}

#foodedit, #noteedit {
	font-size:16px;
	font-style:italic;
	background-color:#eeeeee;
	border:transparent;
	padding-left: 14px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right:14px;
	height:100%;
	width:100%;
}

#foodedit, #food, #noteedit:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: None;
	-webkit-box-shadow: None;
}	

#food {
	border: #FEEAEA;
	font-style:italic;
	font-size:16px;
	background-color:#ffd1d1;
}

.print {
	float:left;
	font-size: 16px;
	line-height: 2;
}

#shoppingheadertext {
	padding-left: 10px;
	
}

#text-length {
	padding-right: 150px;
}
#spacer {
	width:30px;
	float: left;
	background-color:white;
}

#memo {
	width: 300px;
	float:left;
	font-size:16px;
	padding-left:20px;
	margin-right:20px;
}

#text {
	padding: 6px;
}

.memodisplay {
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right:14px;
	border-bottom:1pt dashed #CCA7A7;
}

#noteheader {
	padding-left:14px;
	padding-top:7px; 
	padding-bottom:6px; 
	font-size:20px;
	height:45px;
	background-color: #ffd1d1;
}

#gradient {
	background: linear-gradient(#ffdfdf, #ffd1d1);
	min-height:465px;
}
#genheader{
	width: ;
	background-color: #ffd1d1;
}

#memocontent {
	padding-left: 14px;
	padding-top: 8px;
	padding-bottom: 5px;
	padding-right:14px;
	background: linear-gradient(#ffdfdf, #ffd1d1);
	font-size:14px;
	font-family:'Segoe Print';
	border:transparent;
	outline:0;
	float:left;
	width: 250px;
}

#memocontent:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: None;
	-webkit-box-shadow: None;
}

.note {
	margin-top: 20px;
	margin-left: 0px;
}

/* add ingredient (Pav) */
#popupBackground{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: black;
	opacity: .4 ;
}

#addIng-group .centeredButton{
	position: relative;
	left: 50%;
	width: 58px;
	margin-left: -29px;
}

.popup{
	display: none;
	position: fixed;
	width: 500px;
	height: 300px;
	left: 50%;
	margin-left: -250px;
	top: 50%;
	margin-top: -150px;
	background-color: white;
	border-radius: 10px;
	-webkit-box-shadow: 10px 10px 107px -21px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 107px -21px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 107px -21px rgba(0,0,0,0.75);
	padding: 10px;
}