body{
	background-color: white;
}
#background{
	position:absolute; 
	z-index:-1;
	left:0;
	top:0;
	width:100%;
	height:auto
}

#siteTitle{
	font-family: 'Exo',sans-serif;
	color: #336600;
	text-align: center;
	font-size: 80px;
	margin-top: 10%;
	margin-left: 50%
}
#login-group{
	text-align: center;
	width: 33%;
	margin-left: 60%;

}
#login-button{
	text-align: center;
	margin-left: 40%;
}
.input-group{
	margin:10px;
	box-shadow: 1px 1px 15px #888888;
}