<!DOCTYPE html>
<html>
<head>
	<title>Fridge</title>

	{% load staticfiles %} 

	<link href='http://fonts.googleapis.com/css?family=Exo:200,300,400,500|Alegreya+Sans' rel='stylesheet' type='text/css'>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'fridge/styles/bootstrap/css/bootstrap.min.css' %}">
	<!-- Optional theme -->
	<link rel="stylesheet" type="text/css" href="{% static 'fridge/styles/bootstrap/css/bootstrap-theme.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'fridge/styles/layout.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'graphs/styles/graphs.css' %}">
	<script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script type="text/javascript" src="{% static 'graphs/js/graphs.js' %}"> </script>
	<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"> </script>
</head>
<body>



	<script type="text/javascript">
		$(function(){
			//the whole page has loaded.
			//cal,carbs,fat,protein,sodium,sugar
			makeHighCharts({{cal}}, {{carbs}}, {{fat}}, {{protein}}, {{sodium}}, {{sugar}}, {{dates|safe}}, '{{username}}', {{highCal}}, {{lowCal}}, {{highCarb}},{{lowCarb}},{{highFat}},{{lowFat}},{{highProtein}},{{lowProtein}},{{highSodium}},{{highSugar}})
		});
	</script>





	<header>
		<nav>
			<div class="siteTitle">
				<h1>frjr</h1>
			</div>
<!-- 			<label class="seperatorLine">|</label> -->
			<a href="{%url 'fridge:logout'%}">
			<div id='logout' style='float:right'>
				<span class='glyphicon glyphicon-log-out' style='margin-left:12px'></span>
				<br>logout
			</div></a>
		</nav>
	</header>


	<nav class='sidebarHolder' style='float:left;'>
		<ul class="sidebar nav nav-pills nav-stacked">
			<li><a id = 'fridge' href="{% url 'fridge:appPage' userID%}"><span class='glyphicon glyphicon-book'></span> | Fridge <i class='arrow'>></i></a></li>
			<li><a id = 'shopping-list' href="{% url 'fridge:showShopping' userID%}"><span class='glyphicon glyphicon-cutlery'></span> | Shopping List<i class='arrow'>></i></a></li>
			<li><a id = 'nutrition' href="{% url 'fridge:showGraphs' userID%}"><span class='glyphicon glyphicon-list-alt'></span> | Nutrition Tracker<i class='arrow'>></i></a></li>
			<li><a id='scrapbook' href="{% url 'fridge:showScrapbook' userID%}"><span  class='glyphicon glyphicon-user'></span> | Scrapbook<i class='arrow'>></i></a></li>

		</ul>
	</nav>


	<div id="showpiece-fridge" class='showpiece' style='display:none;'>
		<div class='scrollable'>
			<div id = 'current-fridge' style="width:1000000px; padding-left:20px;">
				<ul 'nav nav-pills'>
					<li class='foodPic'><img src="image_use/broccoli.jpg" width="150px" height="150px"></li>
					<li class='foodPic'><img src="image_use/carrot.jpg" width="150px" height="150px"></li>
					<li class='foodPic active'><img src="image_use/chicken.jpg" width="150px" height="150px"></li>
					<li class='foodPic'><img src="image_use/corn.jpg" width="150px" height="150px"></li>
					<li class='foodPic'><img src="image_use/ham.jpg" width="150px" height="150px"></li>
					<li class='foodPic'><img src="image_use/handle.jpg" width="150px" height="150px"></li>
					<li class='foodPic'><img src="image_use/lettuce.jpg" width="150px" height="150px"></li>
					<li class='foodPic'><img src="image_use/peanut butter.jpg" width="150px" height="150px"></li>
				</ul>
			</div>
		</div>

		<div id = 'content'>
			<h1>Nutrition</h1>
			<img src="image_use/nutrition.jpg" width="500px">
		</div>
	</div>


	<div id="showpiece" class='showpiece' style="position: absolute">	
			
			<div style="display: inline; float: left">
				<div id="health-1" class="hiddenones" >
					<div id="calories-container" class="container">
					</div>
				</div>
					
				<div id="health-2" class="hiddenones" display='hidden' >
					<div id="carbs-container" class="container">
					</div>
		      	</div>
		   
		    	<div id="health-3" class="hiddenones" display='hidden' >
					<div id="fat-container" class="container">
					</div>
				</div>
			
		    	<div id="health-4" class="hiddenones" display='hidden' >
		    		<div id="protein-container" class="container">
		    		</div>
		    	</div>
		    
		    	<div id="health-5" class="hiddenones" display='hidden' >
		    		<div id="sodium-container" class="container"></div>
		    	</div>
		    
		    	<div id="health-6" class="hiddenones" display='hidden' >
		    		<div id="sugar-container" class="container"></div>
		    	</div>
		    </div>
			
			<div id="messages">
				<div id="body-info">
					Age: {{age}}
					<p> Weight: {{body_weight}} 
				</div>	

				<div id="m1" class="feedback" style="display:block">
					<div class='greeting'>Hey {{username}}!</div>
					{{calMessage}}
				</div>
				<div id="m2" class="feedback">
					<div class='greeting'>Hey {{username}}!</div>
					{{carbMessage}}
				</div>
				<div id="m3" class="feedback">
					<div class='greeting'>Hey {{username}}!</div>
					{{fatMessage}}
				</div>
				<div id="m4" class="feedback">
					<div class='greeting'>Hey {{username}}!</div>
					{{proteinMessage}}
				</div>
				<div id="m5" class="feedback">
					<div class='greeting'>Hey {{username}}!</div>
					{{sodiumMessage}}
				</div>
				<div id="m6" class="feedback">
					<div class='greeting'>Hey {{username}}!</div>
					{{sugarMessage}}
				</div>
			</div>

				
			<button id="left" class="close nutrition-buttons" style="display:none"><span class="glyphicon glyphicon-chevron-left"></span></button>

			<button id="right" class="close nutrition-buttons"><span class="glyphicon glyphicon-chevron-right"></span></button>
		
		<div id="nutrient-container">
			<div class="nutrient" id="1"><b>Calories</b></div>
			<div class="des" id="d1" style="display: block;">Calories are units of energy that are burned by your body to stay healthy. Intaking too many calories can lead to weight gain and health problems, while intaking too few can lead to poor nutrition and low energy levels.</div>
			<div class="nutrient" id="2"><b>Carbs</b></div>
			<div class="des" id="d2">Carbohydrates fuel the body's energy needs. Eating carb-rich foods that lack essential nutrients can lead to weight gain. Very low carb diets can cause low energy levels, weakness, headaches, and dizziness.</div>			
			<div class="nutrient" id="3"><b>Fat</b></div>
			<div class="des" id="d3">Fat supplies nutrients that are essential for growth, healthy skin, vitamin-absorption and regulation of bodily functions. Eating too much saturated fat can increase blood cholesterol and the risk for heart disease. </div>
			<div class="nutrient" id="4"><b>Protein</b></div>
			<div class="des" id="d4">Protein is essential for growth and development. High protein diets can put a strain on kidneys, and can also be a sign of high cholestrol intake. Not enough protein can result in weakness in your muscles and your immune system.
			</div>
			<div class="nutrient" id="5"><b>Sodium</b></div>
			<div class="des" id="d5">Sodium is used in the body to control blood pressure and blood volume levels can lead lead to high blood pressure. Low sodium levels cane and to make your muscles and nerves work properly. High sodium lead to headaches, dizziness and a higher risk of heart disease. </div>
			<div class="nutrient" id="6"><b>Sugar</b></div>
			<div class="des" id="d6">Sugar is tasty, but eating too much of it can lead to weight gain, decreased immune response, and possible long term diseases such as diabetes. Sharply reducing your sugar in the short term might make you weak and give you headaches.</div>
		</div>
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="{% static 'fridge/styles/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
