<!DOCTYPE html>
<html>
<head>
	<title>Fridge</title>
	{% load staticfiles %}

	<link href='http://fonts.googleapis.com/css?family=Exo:200,300,400,500|Alegreya+Sans' rel='stylesheet' type='text/css'>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'fridge/styles/bootstrap/css/bootstrap.min.css' %}">
	<!-- Optional theme -->
	<link rel="stylesheet" type="text/css" href="{% static 'fridge/styles/bootstrap/css/bootstrap-theme.min.css'">
	<link rel="stylesheet" type="text/css" href="{% static 'fridge/styles/layout.css' %}">
	
	<script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	
	<script type="text/javascript" src="{% static 'fridge/js/appPage.js' %}"></script>
	<script src="https://www.google.com/jsapi"></script>

</head>
<body>

	<header>
		<nav>
			<div class="siteTitle">
				<h1>frjr</h1>
			</div>

			<a id='logout' href="{%url 'fridge:logout'%}">
					<span class='glyphicon glyphicon-log-out' style='margin-left:12px'></span>
					<br>logout
			</a>
			<div id='control-panel-holder'>
				<label class='panelLabel'>Controls</label>
				<label class='cpBracket' style="display:inline-block; margin-left:-19px;">|</label>
				<span id='control-content' style="display:inline-block;"> 
					<div id='control-fridge' class='controlGroup' style='display:none;'>
						<a href="{% url 'fridge:getRecipes' userID%}">
							<div id='noms' class='control-button' href="">
								<img class='control-im' src="{% static 'fridge/images/bowl.png' %}" />
								<br>
								<label class='control-label'>Noms!</label>
							</div>
						</a>
						<div id='addIng' class='control-button' href="">
							<img class='control-im' src="{% static 'fridge/images/plus.png' %}" />
							<br>
							<label class='control-label'>Food</label>
						</div>
						<div id='delIng' class='control-button' href="">
							<img class='control-im' src="{% static 'fridge/images/minus.png' %}" />
							<br>
							<label class='control-label'>Food</label>
						</div>

					</div>

					<div id='control-scrapbook' class='controlGroup' style='display:none;'>
						<div id='helloButton' class='control-button' href="">
								<img class='control-im' src="{% static 'fridge/images/bowl.png' %}" />
								<br>
								<label class='control-label'>Hello</label>
						</div>
					</div>

				</span>
				<label class='cpBracket' style="display:inline-block;">|</label>
			</div>
		</nav>
	</header>
	<nav class='sidebarHolder' style='float:left;'>
		<ul class="sidebar nav nav-pills nav-stacked">
			<li><a id = 'fridge' href="{% url 'fridge:appPage' userID%}"><span class='glyphicon glyphicon-book'></span> | Fridge <i class='arrow'>></i></a></li>
			<li><a id = 'shopping-list' href="{% url 'fridge:showShopping' userID%}"><span class='glyphicon glyphicon-cutlery'></span> | Shopping List<i class='arrow'>></i></a></li>
			<li><a id = 'nutrition' href="{% url 'fridge:showGraphs' userID%}"><span class='glyphicon glyphicon-list-alt'></span> | Nutrition Tracker<i class='arrow'>></i></a></li>
			<li><a id='scrapbook' href="{% url 'fridge:showScrapbook' userID%}"><span  class='glyphicon glyphicon-user'></span> | Scrapbook<i class='arrow'>></i></a></li>
		</ul>
	</nav>


	<div id="showpiece-fridge" class='showpiece' style="display:none;">
		<div class='scrollable'>
			<div id = 'current-fridge'>
				<ul 'nav nav-pills'>
					{% for ingredient in ingredients%}
						<li class='foodPic'>
							<div id='ing-{{forloop.counter}}' width="150px" height="150px"> </div>
							<!-- src="{{STATIC_URL}}fridge/images/ingredientImages/{{ingredient.pic}}" -->

						    <script type="text/javascript">
						    /*
						    *  The SearchControl manages searchers and draws a UI for them.  However,
						    *  searchers can be used by themselves without the SearchControl.  This is
						    *  called using a "Raw Searcher".  When doing this, you must handle and draw
						    *  the search results manually.
						    */ 
						    
						    google.load('search', '1');
						    
						    var imageSearch{{forloop.counter}};
						    
						    function searchComplete{{forloop.counter}}() {
						      // Check that we got results
								if (imageSearch{{forloop.counter}}.results && imageSearch{{forloop.counter}}.results.length > 0) {
									// Grab our content div, clear it.
									 var contentDiv{{forloop.counter}} = document.getElementById('ing-{{forloop.counter}}');
									// contentDiv{{forloop.counter}}.innerHTML = '';

									// Loop through our results, printing them to the page.
									var results{{forloop.counter}} = imageSearch{{forloop.counter}}.results;
									var result{{forloop.counter}} = results{{forloop.counter}}[0];
									var newImg{{forloop.counter}} = document.createElement('img');
									// There is also a result.url property which has the escaped version
									newImg{{forloop.counter}}.src = result{{forloop.counter}}.tbUrl;
									newImg{{forloop.counter}}.width=150;
									newImg{{forloop.counter}}.height=150;
									contentDiv{{forloop.counter}}.appendChild(newImg{{forloop.counter}});

								}
						    
						      }
						    
						    
						    function OnLoad{{forloop.counter}}() {
						      // Our ImageSearch instance.
						      imageSearch{{forloop.counter}} = new google.search.ImageSearch();
						    
						      // Restrict to extra large images only
						      // imageSearch{{forloop.counter}}.setRestriction(google.search.ImageSearch.RESTRICT_IMAGESIZE,
						      //                             google.search.ImageSearch.IMAGESIZE_MEDIUM);
						    
						      // Here we set a callback so that anytime a search is executed, it will call
						      // the searchComplete function and pass it our ImageSearch searcher.
						      // When a search completes, our ImageSearch object is automatically
						      // populated with the results.
						      imageSearch{{forloop.counter}}.setSearchCompleteCallback(this, searchComplete{{forloop.counter}}, null);
						    
						      // Find me a beautiful car.
						      imageSearch{{forloop.counter}}.execute("{{ingredient.name}}");
						    }
						    google.setOnLoadCallback(OnLoad{{forloop.counter}});
						    </script>
 
							<div class="ingredientPie"></div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		{% if recipe%}
			<div id = 'content' style="margin: 0px;">
				<!-- {{url}}<br> -->
				<ul id='recipeResults'>
					{%for r in recipe%}
					<li id = 'recipe-{{forloop.counter}}' class='recipeResult'><img src="{{r.2}}" width="200" height="125"><footer><label style='height:20px; width:200px; overflow:ellipsis;'>{{r.0}}</label></footer></li>
					{%endfor%}					
				</ul>
			</div>
		{% endif %}
		
		<div id="popupBackground"></div>
		<div id='recipeInfo' class='popup-recipe'>
			{%for r in recipe%}
			<div id = 'rInfo-{{forloop.counter}}' class='rInfo' style='display:none; height:100%; overflow:scroll;'>
				<span id="recipetitle">{{r.0}}</span> 
				<form action="{%url 'fridge:makeMeal'%} method="post" ">
					<input type="hidden" name="userID" value="{{userID}}">
					<button class='btn btn-default' id="made">I Made It!</button>
				</form> <br>
				<h3 id="recipeing">Ingredients: </h3>
				<ul>
				{%for ingredient in r.1%}
					<li id="recipelist">{{ingredient}}</li>
				{%endfor%}
				</ul>
				<span><a href="http://www.yummly.com/recipe/{{r.3}}"><button class='btn btn-default' id="directions">See Directions</button></a><span>
				<span>
				<form action="{%url 'fridge:addShopping'%}" method='post'>
					{% csrf_token %}

					{%for ing in r.1%}
					<input type='hidden' name='ingsList' value="{{ing}}">
					{%endfor%}
					<input type="hidden" name="userID" value="{{userID}}">

					<span class="input-group btn-group centeredButton add" >
						<input type='submit' class='btn btn-default' value='Add These Ingredients to My Shopping List!'></input>
					</span>
				</form>
				</span>

				
				
			</div>
			{%endfor%}
		</div>

		<div id='addIng-popup' class='popup' >
			<h1 style="text-align:center;">Add to Fridge</h1>
			<br><br>
			<form id='addIng-group' action="{% url 'fridge:addIngredient'%}" method="post">
				{% csrf_token %}

				<div class="input-group">
				  <span class="input-group-addon">Ingredient Name:</span>
				  <input type="text" name='IngName'class="form-control" placeholder="Be general.  ex: Ketchup NOT Heins Tomato Ketchup" required autofocus>
				</div>
				<br>
				<div class="input-group">
				  <span class="input-group-addon"># Grams:</span>
				  <input type="number" name='IngAmount' class="form-control" value="1" required>
				</div>
				<input type="hidden" name="userID" value="{{userID}}">
				<br>
				<div class="input-group btn-group centeredButton" >
					<input type='submit' class='btn btn-default' value='Add It'></input>
				</div>

			</form>
		</div>
		<div id='delIng-popup' class='popup' >
			<h1 style="text-align:center;">Remove Ingredient</h1>
			<br><br>
			<form id='delIng-group' action="{% url 'fridge:delIngredient'%}" method="post">
				{% csrf_token %}

				<select name="IngNames" style="position:relative; left:50%; margin-left:-32px;" >
					{%for i in ingredients%}
					<option value="{{i.name}}" >{{i.name}}</option>
					{%endfor%}
				</select>

				<br>
				<input type="hidden" name="userID" value="{{userID}}">
				<br><br>
				<div class="input-group btn-group centeredButton" >
					<input type='submit' class='btn btn-default' value='Remove It'></input>
				</div>

			</form>
		</div>
	</div>


	<div id="showpiece-scrapbook" class='showpiece' style="display:none;">
		hi friends
	</div>
	<!-- Latest compiled and minified JavaScript -->
	<script src="{% static 'fridge/styles/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>