<!DOCTYPE html>
<html>
	Sugar credits: Sugar is tasty, but eating too much of it can lead to weight gain, decreased immune response, and possible long term diseases such as diabetes. Sharply reducing your sugar in the short term might make you weak and give you headaches.

	Sodium: http://www.nlm.nih.gov/medlineplus/ency/article/002415.htm

	Sodium is used in the body to control blood pressure and blood volum levels can lead lead to high blood pressure. Low sodium levels cane and to make your muscles and nerves work properly. High sodium lead to headaches, dizziness and a higher risk of heart disease.

	Carb: http://whfoods.org/genpage.php?tname=dailytip&dbid=268
	
	Carbohydrates fuel the body's energy needs. Eating carb-rich foods that lack essential nutrients can lead to weight gain. Very low carb diets can cause low energy levels, weakness, headaches, and dizziness.

	Protein: http://www.nlm.nih.gov/medlineplus/ency/article/002467.htm

	Protein is essential for growth and development. High protein diets can put a strain on kidneys, and can also be a sign of high cholestrol intake. Not enough protein can result in weakness in your muscles and your immune system.

	Fat http://weightloss.about.com/od/nutrition/a/aa043007a.htm
	Fat supplies nutrients that are essential for growth, healthy skin, vitamin-absorption and regulation of bodily functions. Eating too much saturated fat can increase blood cholesterol and the risk for heart disease. 
</html>

