body{
	background-color: white;
	height: 100%;
	width: 100%;
	margin: 0px;
}
#background, #background img{
	position:absolute; 
	z-index:-1;
	left:0;
	top:0;
	height: 100%;
	max-width: 100%;
}

#siteTitle{
	font-family: 'Exo',sans-serif;
	color: #336600;
	text-align: center;
	font-size: 80px;
	margin-top: 10%;
}

#login-holder{
	float: right;
	width: 300px;
	margin-right: 10%;
	margin-left:10%;
}

#login-group{
	text-align: center;
}
#login-button{
	text-align: center;
	position: absolute;
	width: 50px;
}
#register-button {
	text-align: center;
	position: absolute;
	margin-left: 100px;
	width: 50px;

}
.input-group{
	margin:10px;
	box-shadow: 1px 1px 15px #888888;
}