<!DOCTYPE html>
<html>
<head>
	<title>Fridge</title>

	{% load staticfiles %}
	
	<link href='http://fonts.googleapis.com/css?family=Exo:200,300,400,500|Alegreya+Sans' rel='stylesheet' type='text/css'>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'fridge/styles/bootstrap/css/bootstrap.min.css' %}">
	<!-- Optional theme -->
	<link rel="stylesheet" type="text/css" href="{% static 'fridge/styles/bootstrap/css/bootstrap-theme.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'shopping/styles/shopping.css' %}">
	<script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
	<script type="text/javascript" src="{% static 'shopping/js/shopping.js' %}"></script>
	<script type="text/javascript" src="{% static 'shopping/js/print.js' %}"></script>

</head>
<body>
	<header>
		<nav>
			<div class="siteTitle">
				<h1>frjr</h1>
			</div>
<!-- 			<label class="seperatorLine">|</label> -->
			<a href="index.html"><div id='logout' style='float:right'>
				<span class='glyphicon glyphicon-log-out' style='margin-left:12px'></span>
				<br>logout
			</div></a>
		</nav>
	</header>


	<nav class='sidebarHolder' style='float:left;'>
		<ul class="sidebar nav nav-pills nav-stacked">
			<li><a id = 'fridge' href="{% url 'fridge:appPage' %}"><span class='glyphicon glyphicon-book'></span> | Fridge <i class='arrow'>></i></a></li>
			<li><a id = 'shopping list' href="{% url 'fridge:showShopping' %}"><span class='glyphicon glyphicon-cutlery'></span> | Shopping List<i class='arrow'>></i></a></li>
			<li><a id = 'nutrition' href="{% url 'fridge:showGraphs' %}"><span class='glyphicon glyphicon-list-alt'></span> | Nutrition Tracker<i class='arrow'>></i></a></li>
			<li><a id='scrapbook' href="{% url 'fridge:showScrapbook' %}"><span  class='glyphicon glyphicon-user'></span> | Scrapbook<i class='arrow'>></i></a></li>
			<li><a href=""><span class='glyphicon glyphicon-book'></span> | Stuff<i class='arrow'>></i></a></li>
			<li><a href=""><span class='glyphicon glyphicon-book'></span> | Stuff<i class='arrow'>></i></a></li>
			<li><a href=""><span class='glyphicon glyphicon-book'></span> | Stuff<i class='arrow'>></i></a></li>
		</ul>
	</nav>


	<div class='showpiece'>
		<div id="shopping-list">
			<div id="food-list">
				<div id="shoppingheader"><span id="shoppingheadertext"><b>Shopping List</b></span><button type="button" class="close print"><span class="glyphicon glyphicon-print"></span></button></div>
				{% for x in itemslist %}
					<div class="hov">
						<button type="button" class="check close">
							<span class="glyphicon glyphicon-check"></span>
						</button>
						<span id="text">{{x}}</span>
						<a href="">
							<button type="button" class="close closer invisible remove">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</a>
						<button type="button" class="close closer invisible edit">
							<span class="glyphicon glyphicon-pencil" id="listspace"></span>
						</button>
					</div>
				{% endfor %}
				
				<form action="{% url 'fridge:addItem' %}" method="post">
					{% csrf_token %}
					<input type="text" name="theName" class="form-control" required autofocus></input>
					<!-- <input type='submit' class='btn btn-default' value='Add It'></input> -->
				</form>
				
			</div>
				
			<!--Input box -->
			<!--
			<div class="row">
			  <div class="col-lg-6" id="foodinput">
				<div class="input-group">
				  <input type="text" style="font-size:16px" class="form-control" id="food" placeholder="Add to list">

				  -->
			<!--  <span class="input-group-btn">
					<button class="btn btn-default" type="submit" id='addFood' value="Add">Add</button>
				  </span>
			-->
			
				<!--</div><!-- /input-group -->
			  <!--</div><!-- /.col-lg-6 -->
			<!--</div><!-- /.row -->
			
		</div>
		
		<div id="spacer">    .</div>
		
		<div id="memo">
			<div id="shoppingheader"><b>Memo</b></div>
<!--			<input type="text" id="memocontent" rows="17">30% discount from Shaw's!</div>   -->
			<textarea class="form-control" id="memocontent" rows="1">30% discount from Shaw's!</textarea>
			{% for x in memolist %}
			<div class="hov"><span id="text">{{x}}</span></div>
			{% endfor %}
		</div>
		
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="styles/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>